/*
skins available:
	- bullets
	- thumbs
*/

/* the container */
.parallax_mouseinteraction {
	position:relative;
}
.parallax_mouseinteraction img {
	max-width:none;
	max-height:none;
}
.parallax_mouseinteraction_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}


.parallax_mouseinteraction .contentHolderVisibleWrapper {
	position:absolute;
	overflow:hidden;
}
.parallax_mouseinteraction .contentHolder {
	position:absolute;
}
.parallax_mouseinteraction .contentHolderUnit {
	float:left;
	display:block;
	overflow:hidden;
}
.mycanvas {
	position:absolute;
	top:8px;
	right:10px;
	z-index:10;
}
.myloader {
	background:url(skins/loader.gif);
	width:37px;
	height:37px;
	position:absolute;
	left:49%;
	top:49%;
	z-index:5;
}


.fixedBackground {
	position:absolute;
	z-index:0;
}



/***bullets SKIN***/
.parallax_mouseinteraction.bullets .bannerControls {
	position:absolute;
	left:0;
	top:0;
	/*z-index:1;*/
	z-index:5;
	width:100%;
}

.parallax_mouseinteraction.bullets .leftNav {
	position:absolute;
	left:0px;
	width:37px;
	height:80px;
	background:url(skins/bullets/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.parallax_mouseinteraction.bullets .leftNav:hover {
	background:url(skins/bullets/leftNavON.png) 0 0 no-repeat;
}
.parallax_mouseinteraction.bullets .rightNav {
	position:absolute;
	right:0px;
	width:37px;
	height:80px;
	background:url(skins/bullets/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.parallax_mouseinteraction.bullets .rightNav:hover {
	background:url(skins/bullets/rightNavON.png) 0 0 no-repeat;
}
.parallax_mouseinteraction.bullets .bottomNav {
	position:absolute;
	width:0px;
	height:24px;
	bottom:-35px;
	z-index:3;
	padding-left:5px;
}
.parallax_mouseinteraction.bullets .bottomNavButtonOFF {
	float:left;
	display:block;
	width:14px;
	height:14px;
	background:url(skins/bullets/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:9px;
	cursor: pointer;
}

.parallax_mouseinteraction.bullets .bottomNavButtonON {
	float:left;
	display:block;
	width:14px;
	height:14px;
	padding-left:9px;
	background:url(skins/bullets/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}

.parallax_mouseinteraction.bullets .bottomNavLeft {
	position:absolute;
	width:0px;
	display:none;
	background:#F00;
	height:24px;
	bottom:5px;
	z-index:3;
}

.parallax_mouseinteraction.bullets .bottomNavRight {
	position:absolute;
	width:0px;
	display:none;
	height:24px;
	background:#F00;
	bottom:5px;
	z-index:3;
}

.parallax_mouseinteraction.bullets .bottomOverThumb {
	position:absolute;
	width:88px;
	height:95px;
	background:url(skins/bullets/bottomOverThumbBg.png) 0px 0px no-repeat;
	bottom:25px;
	margin-left:-44px;
}
.parallax_mouseinteraction.bullets .innerBottomOverThumb {
	position:relative;
	width:80px;
	height:80px;
	margin:4px 0 0 4px;
	overflow:hidden;
}
.parallax_mouseinteraction.bullets .bottomOverThumb img {

}
.parallax_mouseinteraction.bullets .playOver {
	position:absolute;
	width:73px;
	height:73px;
	background:url(skins/bullets/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

.parallax_mouseinteraction.bullets .playOver:hover {
	background:url(skins/bullets/play_overON.png) 0 0 no-repeat;
	display:none;
	z-index:4;
	cursor: pointer;
}

/***********Text Styles***********/

.parallax_mouseinteraction_texts {
	position:absolute;
	z-index:2;
	/*display: none;*/
	width:100%;
}
.parallax_mouseinteraction_text_line {
	position:absolute;
	display: none;
}


.hideElement {
	display:none;
}

