{{ $office := .Get "country" }}

<div class="uk-column-1-2">

  {{ range $key, $offices := .Site.Data.office }}
  {{ range $offices }}
  {{ if eq .country $office }}

  <h3 id="addess" class="uk-heading-small">
    {{ T "terms.keywords.address" }}
  </h3>

  {{ T "terms.keywords.legalEntity" }}

  <ul>

    <li>{{ T "terms.keywords.headquarter" }}: <span class="uk-text-bolder">{{ .headquarter }}</span></li>
    {{ if .workshop }}
    <li>{{ T "terms.keywords.workshop" }}: <span class="uk-text-bolder">{{ .workshop }}</span></li>
    {{ end }}
    {{ if .id }}
    <li>{{ T "terms.keywords.legalId" }}: <span class="uk-text-bolder">{{ .id }}</span></li>
    {{ end }}
    {{ if .vat }}
    <li>{{ T "terms.keywords.vatId" }}: <span class="uk-text-bolder">{{ .vat }}</span></li>
    {{ end }}
    {{ if .bankAccount }}
    <li>{{ T "terms.keywords.bankAccount" }}: <span class="uk-text-bolder">{{ .bankAccount }}</span></li>
    {{ end }}
  </ul>

  <h3 id="contacts" class="uk-heading-small">
    {{ T "terms.keywords.contacts" }}
  </h3>
  <ul>
    {{ if .phone }}
    <li>{{ T "terms.keywords.phone" }}: <a href="tel:{{ .phone }}">{{ .phone }}</a></li>
    {{ end }}
    {{ if .fax }}
    <li>{{ T "terms.keywords.fax" }}: <a href="tel:{{ .fax }}">{{ .fax }}</a></li>
    {{ end }}
    {{ if .email }}
    <li>{{ T "terms.keywords.email" }}: <a href="mailto:{{ .email }}">{{ .email }}</a></li>
    {{ end }}
  </ul>

  <a href="http://maps.google.com/?q={{ .workshop }}" target="_blank">
    {{ $.Inner | $.Page.RenderString -}}
  </a>

  {{ end }}
  {{ end }}
  {{ end }}

</div>