h1 {
	text-align: center;
	margin-bottom: 1em;
}

h1.uk-heading-medium {
	color: var(--red);
	text-transform: uppercase;
	font-weight: lighter;
	font-family: "Open Sans";
	font-size: 300%;
	margin-bottom: 1em;
}

h2.uk-heading-small {
	color: var(--grey);
	text-align: justify;
	font-weight: 500;
	font-family: "Open Sans";
	font-size: 200%;
}



h3.uk-heading-small {
	color: var(--grey);
	/* text-transform: uppercase; */
	font-weight: 500;
	font-family: "Open Sans";
	font-size: 150%;
}