    <li>
        <a href>
            {{ upper .site.Language.LanguageName }}
            <span uk-drop-parent-icon></span>
        </a>
        <div class="uk-dropdown">
            <ul class="uk-nav uk-dropdown-nav">
                {{ range .page.AllTranslations }}
                <li class="uk-text-center">
                    <a width="100%" href="{{ .RelPermalink }}">{{ upper .Language.LanguageName }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </li>