<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            {{- $offices := slice "cz" "de" "sk" }}
            {{- range $key, $value := $offices}}
            {{ $tKeyTitle := printf "footer.offices.%s.title" $value }}
            {{ $tKeyPhone := printf "footer.offices.%s.contact.phone" $value }}
            {{ $tKeyEmail := printf "footer.offices.%s.contact.email" $value }}
            {{ $tKeyHQAddress := printf "footer.offices.%s.address.headquarter" $value }}
            {{ $tKeyWAddress := printf "footer.offices.%s.address.workshop" $value }}
            <div>
                <h3>
                    {{ T $tKeyTitle }}
                </h3>
                <p>
                    <a 
                        href="tel:{{ T $tKeyPhone }}" 
                        class="uk-icon-button uk-margin-small-right"
                        uk-icon="receiver"
                    ></a>
                    <a 
                        href="tel:{{ T $tKeyPhone }}" 
                    >
                    {{ T $tKeyPhone }}
                    </a>
                </p>
                <p>
                    <a 
                        href="mailto:{{ T $tKeyEmail }}" 
                        class="uk-icon-button uk-margin-small-right"
                        uk-icon="mail"
                    ></a>
                    <a 
                        href="mailto:{{ T $tKeyEmail }}" 
                    >
                    {{ T $tKeyEmail }}
                    </a>
                </p>
                <p>
                    <a 
                        href="http://maps.google.com/?q={{ T $tKeyHQAddress }}" 
                        target="_blank"
                        class="uk-icon-button uk-margin-small-right"
                        uk-icon="home"
                    ></a>
                    <a 
                        href="http://maps.google.com/?q={{ T $tKeyHQAddress }}" 
                        target="_blank"
                    >
                        {{ T $tKeyHQAddress }}    
                    </a>
                </p>

                {{ if T $tKeyWAddress}}
                <p>
                    <a 
                        href="http://maps.google.com/?q={{ T $tKeyWAddress }}" 
                        target="_blank"
                        class="uk-icon-button uk-margin-small-right"
                        uk-icon="home"
                    ></a>
                    <a 
                        href="http://maps.google.com/?q={{ T $tKeyWAddress }}" 
                        target="_blank"
                    >
                        {{ T $tKeyWAddress }}    
                    </a>
                </p>
                {{ else }}
                <p>
                    &nbsp;
                </p>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>