<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            {{ range $key, $offices := .site.Data.office }}
                {{ range $offices }}
                {{ $countryKey := printf "terms.countries.%s" .country }}
                <div>
                    <h3>
                        {{ T $countryKey }}
                    </h3>
                    <p>
                        <a 
                            href="tel:{{ .phone }}" 
                            class="uk-icon-button uk-margin-small-right"
                            uk-icon="receiver"
                        ></a>
                        <a 
                            href="tel:{{ .phone }}" 
                        >
                        {{ .phone }}
                        </a>
                    </p>
                    <p>
                        <a 
                            href="mailto:{{ .email }}" 
                            class="uk-icon-button uk-margin-small-right"
                            uk-icon="mail"
                        ></a>
                        <a 
                            href="mailto:{{ .email }}" 
                        >
                        {{ .email }}
                        </a>
                    </p>
                    <p>
                        <a 
                            href="http://maps.google.com/?q={{ .headquarter }}" 
                            target="_blank"
                            class="uk-icon-button uk-margin-small-right"
                            uk-icon="home"
                        ></a>
                        <a 
                            href="http://maps.google.com/?q={{ .headquarter }}" 
                            target="_blank"
                        >
                            {{ .headquarter }}    
                        </a>
                    </p>
                    {{ if .workshop }}
                        <p>
                            <a 
                                href="http://maps.google.com/?q={{ .workshop }}" 
                                target="_blank"
                                class="uk-icon-button uk-margin-small-right"
                                uk-icon="home"
                            ></a>
                            <a 
                                href="http://maps.google.com/?q={{ .workshop }}" 
                                target="_blank"
                            >
                                {{.workshop }}    
                            </a>
                        </p>
                    {{ else }}
                        <p>
                            &nbsp;
                        </p>
                    {{ end }}
                </div>
                {{ end }}
            {{ end }}

        </div>
    </div>
</div>