{{ $image := resources.Get "img/logo.png" }}
<nav id="nav" class="uk-navbar-container uk-navbar-transparent uk-position-relative uk-position-z-index">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left uk-margin-medium-right">

                <a href="{{ site.Home.Permalink }}" title="{{ site.Title }}">
                    <img src="{{ $image.RelPermalink }}" class="logo" alt="logo {{ site.Title }}" >
                </a>

            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-navbar-nav uk-visible@s" uk-dropnav="mode: click">
                    {{ partial "menu.html" (dict "site" $.Site) }}
                    <li class="uk-nav-divider"></li>
                    {{ partial "allLanguages.html" (dict "site" $.Site "page" $.Page ) }}
                    
                </ul>
                <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #side-nav"></a>
            </div>

        </div>
    </div>
</nav>
<div id="side-nav" uk-offcanvas="flip: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical" uk-dropnav="mode: click">
            {{ partial "menu.html" (dict "site" $.Site) }}
            <li class="uk-nav-divider"></li>
            {{ partial "allLanguages.html" (dict "site" $.Site "page" $.Page ) }}
        </ul>
    </div>
</div>