<nav id="nav" class="uk-navbar-container uk-navbar-transparent">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left uk-margin-medium-right">

                <a href="{{ site.Home.Permalink }}" title="{{ site.Title }}">
                    {{ $image := resources.Get "img/logo.png" }}
                    <img src="{{ $image.RelPermalink }}" class="logo" alt="logo {{ site.Title }}" >
                </a>

            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav" uk-dropnav="mode: click">
                    {{ partial "menu.html" (dict "site" $.Site) }}
                    <li>
                        <a href>|</a>
                    </li>
                    {{ partial "allLanguages.html" (dict "site" $.Site "page" $.Page ) }}
                </ul>

            </div>

        </div>
    </div>
</nav>