  <li>
    <a href="{{ site.Home.Permalink }}">{{ site.Home.Title}}</a>
  </li>
  {{- range site.Sections }}
  <li>
    <a href="{{.Permalink}}">
      {{ if .Pages }}
      <span uk-drop-parent-icon></span>
      {{- end }}
      {{ .Title }}
    </a>
    {{ if .Pages }}
    <div class="uk-dropdown">
      <ul class="uk-nav uk-dropdown-nav">
        {{- range .Pages }}
        <li>
          <a href="{{.Permalink}}">{{ upper .Title }}</a>
        </li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </li>
  {{- end }}