<div id="slideshow">
    <div class="slides" uk-slideshow="autoplay: true autoplay-interval: 6500">
        <div class="slidewrapper" tabindex="-1">
            <div class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 525">
                {{ range $key, $value := .page.Params.slider}}
                    {{ $translationTitleKey := printf "home.slider.slide.%s.title" $value }}
                    {{ $translationTextKey := printf "home.slider.slide.%s.text"  $value }}
                    {{ $imageSrc := printf "img/slider/slide.%s.webp"  $value }}
                    {{ $img := resources.Get $imageSrc }}

                    <div>
                        <div
                            class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="{{$img.Permalink}}" alt="LKWs" uk-cover>
                        </div>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                            <h3 class="uk-margin-remove">{{ T $translationTitleKey }}</h3>
                            <p class="uk-margin-remove">{{ T $translationTextKey }}</p>
                        </div>
                    </div>

                {{ end }}
            </div>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                uk-slideshow-item="next"></a>

        </div>
    </div>
</div>

<!--  -->